:root {
  --primary-green: #1db954;
  --hover-green: #1ed760;
  --album-btn-green: #1fe063;
  --album-btn-hover: #20e766;
  --light-bg: #333;
  --dark-bg: #151515;
  --very-dark-bg: #000000;
  --light-text: #ffffff;
  --muted-text: #b3b3b3;
  --album-button: #a3a3a3;
  --album-accent: #1c1c1c;
  --album-accent-rgb: 28, 28, 28;
  --gutter: clamp(0.75rem, 1vw, 1.5rem);
}

.sidebar::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}

.sidebar::-webkit-scrollbar-track {
  background: var(--dark-bg);
  border-radius: 1rem;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--light-bg);
  border-radius: 1rem;
  border: 3px solid var(--dark-bg);
}

.spotify-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40%;
  background: linear-gradient(
    to bottom,
    var(--album-accent, #1c1c1c),
    transparent 100%
  );
  z-index: -1;
  pointer-events: none;
}

.spotify-card {
  position: relative;
  background: transparent;
  overflow: hidden;
  z-index: 0;
  isolation: isolate;
  border-radius: 1rem;
  background-color: var(--dark-bg);
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
}

.page-container {
  width: 100%;
  max-width: 100rem;
  margin-inline: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--very-dark-bg);
  color: var(--light-text);
  font-family: 'Segoe UI', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

main {
  width: calc(100% - 2rem);
  min-height: 100vh;
  gap: 1rem;
  margin: 0 0 1rem 0;
  display: flex;
  justify-content: flex-start;
}

.title-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  box-sizing: border-box;
  background: var(--very-dark-bg);
}

.navigation-btns {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.nav-btn {
  font-size: 1.5rem;
  color: var(--muted-text);
  transition: color 0.2s ease;
}

.nav-btn:hover {
  background-color: transparent;
  color: var(--light-text);
}

#form {
  display: flex;
  justify-content: center;
  width: 100%;
}

#search-title {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  position: relative;
  text-align: center;
  color: var(--primary-green);
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Segoe UI', sans-serif;
  display: inline-block;
}

#search-title:hover {
  color: var(--hover-green);
}

#search {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
  display: block;
  max-width: 18.75rem;
  width: 100%;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 625rem;
  background: var(--light-bg);
  color: var(--light-text);
  outline: none;
}

input::placeholder {
  color: var(--muted-text);
}

input:focus {
  background: var(--light-bg);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  line-height: 1;
  padding: 0;
  font-size: 1rem;
  border: none;
  border-radius: 0.3125rem;
  color: var(--light-text);
  cursor: pointer;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 6rem;
  height: auto;
  background: var(--dark-bg);
  border-radius: 1rem;
  padding: 0.25rem;
  overflow: auto;
}

.side-tab {
  aspect-ratio: 1 / 1;
  border-radius: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-tab img {
  border-radius: 0.75rem;
  width: 85%;
  height: 85%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.side-tab:hover {
  background: var(--light-bg);
}

h2 {
  text-align: left;
}

#tracks-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0;
}

.search-results {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
  padding: 1rem 1rem 1rem 2rem;
  box-sizing: border-box;
}

.track-row.search-track-row {
  gap: 1rem;
  max-width: 45vw;
  padding: 0.75rem 1.25rem 0.75rem 0.75rem;
  width: 70%;
}

.track-row.search-track-row > *:not(:first-child, :last-child) {
  margin-right: 0;
}

.track-row .track-info {
  min-width: 0;
}

.track-row .track-info h3,
.track-row .track-info div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track-info .artist-wrap a {
  display: inline;
}

.track-row {
  background: transparent;
  flex-wrap: nowrap;
  padding: 0.25rem 1.5rem 0.25rem 0.25rem;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  border-radius: 0.375rem;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.track-row > *:not(:first-child, :last-child) {
  margin-right: 1rem;
}

.track-row:hover {
  background: var(--light-bg);
}

.track-row img {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 0.25rem;
}

.track-info {
  flex: 1;
}

.track-info h3 {
  font-weight: normal;
  margin: 0;
}

.track-info p {
  margin: 0.2rem 0;
  font-size: 0.85rem;
  color: var(--muted-text);
}

.track-row span {
  margin: 0;
  color: var(--muted-text);
  white-space: nowrap;
}

.track-row span.comma {
  display: inline-block;
  margin: 0 0.25rem 0 0;
}

.track-row a {
  color: var(--muted-text);
  text-decoration: none;
  font-size: 1rem;
}

.track-row a:hover {
  color: var(--light-text);
  text-decoration: underline;
}

.cover-img {
  opacity: 1;
}

#best-track-container {
  display: flex;
  flex-direction: column;
  width: auto;
}

.best-track-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  border-radius: 0.5rem;
  background: #222;
  width: fit-content;
  max-width: 35vw;
  box-sizing: border-box;
  position: relative;
  gap: 3rem;
}

.best-track-row-main {
  flex: 1 1 auto;
  min-width: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

@keyframes slideUpFadeIn {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideUpFadeOut {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(20%);
    opacity: 0;
  }
}

.green-play-btn.animated-in {
  animation: slideUpFadeIn 0.3s ease forwards;
}

.green-play-btn.animated-out {
  animation: slideUpFadeOut 0.3s ease forwards;
}

.best-track-card .green-play-btn {
  align-self: flex-end;
  margin-left: auto;
  width: 3rem;
  height: 3rem;
  background: var(--primary-green);
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.18s ease;
  opacity: 0;
  transform: translateY(20%);
}

.best-track-card a.green-play-btn i {
  color: var(--very-dark-bg);
  text-decoration: none;
  font-size: 1.25rem;
  margin-left: 0.15em;
}

.best-track-card a.green-play-btn:hover {
  text-decoration: none;
  background: var(--hover-green);
  transform: scale(1.03);
}

.best-track-card:hover {
  background: var(--light-bg);
}

.best-track-card .cover-img {
  width: 7rem;
  height: 7rem;
  aspect-ratio: 1/1;
  border-radius: 0.25rem;
  object-fit: cover;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.185);
  background: #111;
  flex-shrink: 0;
}

.best-track-card h3 {
  margin: 0;
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
}

.best-track-info {
  gap: 0.25rem;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.best-track-info h3 {
  margin: 0;
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
  text-align: left;
  max-width: 20rem;
}

.best-track-card .artist {
  margin-top: 0.5rem;
  color: var(--light-text);
  font-size: 0.9rem;
  text-align: center;
  word-break: break-word;
  white-space: nowrap;
}

.best-track-card p {
  margin: 0.2rem 0;
  font-size: 0.85rem;
  color: var(--muted-text);
}

.best-track-card span {
  font-size: 0.9rem;
  color: var(--muted-text);
  white-space: nowrap;
}

.best-track-card a {
  color: var(--muted-text);
  text-decoration: none;
}

.best-track-card a:hover {
  color: var(--light-text);
  text-decoration: underline;
}

.best-track-card .best-track-info .comma {
  color: var(--muted-text);
  margin: 0 0.25rem 0 0;
}

#popular-tracks-container {
  width: 70%;
  margin: 0 auto 5rem 0;
  position: relative;
  z-index: 1;
  padding: 0 1.5rem;
  box-sizing: border-box;
  display: block;
}

.hero-inner {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  padding: 4rem 2rem 2rem 2rem;
  width: 100%;
  box-sizing: border-box;
}

.artist-hero-img {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.artist-hero-info {
  margin-bottom: 0.3125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.artist-verified {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  margin: 1rem 0;
  padding: 0;
  line-height: normal;
}

.artist-verified i {
  color: #247ec7;
  font-size: 1.5em;
}

.verified-badge-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  font-size: 1em;
}

.verified-badge-wrapper .check-inside {
  position: absolute;
  font-size: 0.7em;
  color: white;
  line-height: 1.8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.artist-name {
  padding: 0;
  margin: 0;
  color: var(--light-text);
  font-weight: 900;
}

.artist-followers {
  color: var(--light-text);
  margin: 1rem 0 0 0;
}

.discography-header {
  margin: 2.5rem 1.5rem 1rem 1.5rem;
}

.play-icon,
.play-icon:hover,
.track-row i {
  color: var(--light-text);
}

i {
  vertical-align: middle;
}

.scalable:hover {
  color: var(--light-text);
}

.isFavorite,
.isFavorite:hover {
  color: var(--hover-green);
}

.track-row .save-btn i,
.track-row .elipsis-btn i,
.track-row .play-btn {
  opacity: 0;
}

.track-row:hover .save-btn i,
.track-row:hover .elipsis-btn i,
.track-row:hover .play-btn {
  opacity: 1;
}

.track-row:hover .cover-img {
  opacity: 0.5;
}

.album-hero {
  position: relative;
  z-index: 1;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background: transparent;
  transition: background-image 0.5s ease-in-out;
  display: flex;
  gap: 2rem;
  padding: 4rem 2.5rem 1.5rem 2.5rem;
  width: 100%;
  box-sizing: border-box;
}

.album-hero-img {
  width: 14rem;
  height: 14rem;
  border-radius: 0.3rem;
  object-fit: cover;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.185);
  background: #111;
  transition: scale 0.18s cubic-bezier(0.4, 0, 0.2, 1), color 0.15s;
}

.album-hero-img:hover {
  scale: 1.03;
}

.album-hero-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
}

.album-type {
  color: var(--light-text);
  font-weight: 400;
}

.album-title {
  word-break: break-word;
  font-weight: 900;
  color: #fff;
  margin: 0 0 1rem 0;
  line-height: 1.1;
}

#album-artists-container {
  white-space: normal;
}

.album-meta .meta-separator {
  margin: 0;
  white-space: nowrap;
}

.album-meta .artist-meta-separator {
  margin: 0;
  white-space: nowrap;
  color: var(--light-text);
}

.album-meta {
  display: block;
  max-width: 100%;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.4;
  font-size: 0.9rem;
  color: var(--muted-text);
}

.album-meta .album-artist {
  font-weight: 700;
  color: var(--light-text);
  text-decoration: none;
}

.album-meta .album-artist:hover {
  text-decoration: underline;
}

.album-meta {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem 0.4rem;
  font-size: 0.9rem;
  line-height: 1.4;
  color: var(--muted-text);
}

.album-controls {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 1.5rem 0 1rem 2.5rem;
}

.album-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  line-height: 1;
  width: 2rem;
  height: 2rem;
  margin: 0;
}

.album-btn:hover {
  scale: 1.05;
}

.album-btn:active {
  scale: 0.97;
}

a.album-play-btn {
  text-decoration: none;
  width: 3.5rem;
  height: 3.5rem;
  background: var(--album-btn-green);
}

a.album-play-btn i {
  text-decoration: none;
  color: var(--very-dark-bg);
  font-size: 1.25rem;
  margin-left: 0.15em;
  pointer-events: none;
}

a.album-play-btn:hover i {
  text-decoration: none;
  color: var(--very-dark-bg);
}

a.album-play-btn:hover {
  text-decoration: none;
  background: var(--album-btn-hover);
}

.album-btn i {
  line-height: 1;
  color: var(--album-button);
  font-size: 1.2rem;
}

.album-btn:hover i {
  color: var(--light-text);
}

.album-save-btn {
  border: 0.125rem solid var(--album-button);
}

.album-save-btn:hover,
.album-more-btn:hover {
  border-color: var(--light-text);
}

.album-tracklist-col.time {
  text-align: center;
  display: flex;
  justify-content: center;
}

.album-tracklist-col.number {
  display: flex;
  justify-content: center;
  align-items: center;
}

.album-tracklist-col.album,
.album-name {
  color: #a3a3a3ad;
  text-align: left;
  font-size: 1rem;
  text-decoration: none;
}

.album-track-row a.album-name.play-info:hover {
  color: var(--light-text);
  text-decoration: underline;
}

span.album-tracklist-col.number,
span.album-tracklist-col.title,
div.album-tracklist-col.plays,
i.fa-clock {
  color: #a3a3a3ad;
}

.fa-check {
  transition: color 0.2s ease, transform 0.2s ease;
}

.album-save-btn.saved {
  border: none;
  background: var(--album-btn-green);
}

.album-save-btn.saved:hover {
  background-color: var(--album-btn-hover);
}

.album-save-btn.saved i {
  color: var(--very-dark-bg);
}

.save-btn i {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.save-btn.saved i {
  background-color: var(--album-btn-green);
  color: var(--very-dark-bg);
}

.save-btn i.fa-check {
  font-size: 0.6rem;
}

.album-tracklist-container {
  width: 98%;
  margin: 0 auto 1.5rem auto;
  position: relative;
  z-index: 1;
  padding: 0 1.5rem;
  box-sizing: border-box;
  display: block;
}

.album-track-row {
  padding: 0.25rem 0;
}

.album-track-row > *:not(:first-child, :last-child) {
  margin-right: 0;
}

.album-tracklist-col.plays,
.play-info {
  display: flex;
  align-items: center;
  text-align: right;
}

a.album-name.play-info {
  text-align: left;
}

.album-tracklist-header,
.album-track-row {
  display: grid;
  grid-template-columns:
    5rem 1fr 1fr 3rem
    5ch 3rem 0.5rem; /* 0.5rem column acts as a padding */
  justify-content: flex-start;
  max-width: 90rem;
}

.album-track-row .play-info {
  margin-left: 1rem;
}

.album-tracklist-header .album-tracklist-col.plays {
  margin-left: 1rem;
}

.album-tracklist-header {
  border-bottom: 0.0625rem solid #a3a3a328;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.track-row:hover .list-number {
  visibility: hidden;
}

.list-number,
.album-list-number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--muted-text);
  font-variant-numeric: tabular-nums;
}

.track-row.list-number,
.track-row.album-list-number {
  width: 4rem;
}

.artist-track-row .container-list-number {
  width: 4rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.list-number {
  font-size: 1.3rem;
}

div.play-info {
  margin: 0;
  color: var(--muted-text);
}

.album-track-elipsis-btn,
.album-track-save-btn,
.album-track-elipsis-btn:hover,
.album-track-save-btn:hover {
  color: var(--muted-text);
}

.album-track-row:hover .album-track-elipsis-btn i,
.album-track-row:hover .album-track-save-btn i {
  opacity: 1;
}

span.album-track-duration {
  text-align: center;
}

.spotify-card > h2 {
  margin: 2.5rem 2rem 1rem 2rem;
  text-align: left;
}

#artist-albums-container {
  align-items: flex-start;
  margin: 0 1.5rem 1rem 1.5rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 0.75rem;
}

a.album-card {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.7rem 0.7rem 1.5rem 0.7rem;
  width: calc(100% - 0.7rem);
  height: fit-content;
  border-radius: 0.25rem;
}

a.album-card:hover {
  background-color: var(--light-bg);
}

img.album-card-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
  display: block;
}

.album-card-image-container {
  width: 100%;
  position: relative;
  aspect-ratio: 1/1;
  display: block;
}

a.album-cover-green-play-btn {
  text-decoration: none;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--primary-green);
  color: var(--very-dark-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(20%);
  transition: transform 0.2s ease, opacity 0.2s ease;
}

a.album-cover-green-play-btn i.play-icon {
  color: var(--very-dark-bg);
  text-decoration: none;
  font-size: 1.25rem;
  margin-left: 0.15em;
}

.album-card:hover .album-cover-green-play-btn {
  opacity: 1;
  transform: translateY(0%);
}

p.album-card-name {
  margin: 0.5rem 0 0 0;
}

div.album-card-info {
  display: flex;
  gap: 0.2rem;
  font-size: 0.9rem;
  color: var(--muted-text);
}

#album-artists-container span.comma {
  margin-right: 0.3rem;
}

#new-releases-container {
  padding: 1rem 1rem 0 2rem;
  box-sizing: border-box;
  max-width: 110rem;
}

.album-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(clamp(8rem, 20vw, 11rem), 1fr)
  );
  gap: 0.75rem;
}

.album-grid-container {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}

.empty-message {
  color: var(--muted-text);
  font-size: 1.2rem;
  text-align: center;
  margin: 2rem auto;
}

.album-track-save-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 6px solid #1db954;
  border-top: 6px solid transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

button.show-less-more-btn {
  margin: 1em 1.3em;
  color: var(--muted-text);
  font-weight: bolder;
}

button.show-less-more-btn:hover {
  color: var(--light-text);
}

@media (min-width: 481px) and (max-width: 768px) {
  .track-info > * {
    display: block;
    max-width: 100%;
  }

  .album-hero-info {
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }

  .album-title {
    margin: 0;
    line-height: 1;
  }

  .search-results {
    padding: 1rem 2rem;
  }

  .track-row.search-track-row {
    width: 100%;
    max-width: 100%;
  }

  #tracks-header {
    font-size: 1.5rem;
  }

  main {
    padding-bottom: 4.5rem;
  }

  .album-track-row {
    gap: 1.25rem;
    grid-template-columns: minmax(0, 4fr) min-content min-content min-content;
  }

  .title-container {
    gap: 2rem;
  }

  .hero-inner {
    padding: 10rem 1.5rem 0.5rem 1.5rem;
  }

  .track-row img {
    margin: 0;
  }

  .track-row span {
    margin: 0rem;
  }

  .album-meta {
    flex-wrap: wrap;
  }

  #popular-tracks-container {
    width: 100%;
    margin: 0 auto 3rem 0;
  }

  .sidebar {
    gap: 0.5rem;
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4.5rem;
    width: 100%;
    z-index: 1000;
    border-radius: 0;
    overflow-x: auto;
  }

  .sidebar .side-tab:first-child {
    margin-left: 0.5rem;
  }

  .sidebar .side-tab:last-child {
    margin-right: 0.5rem;
  }

  .side-tab {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .side-tab img {
    width: 3rem;
    height: 3rem;
  }

  .discography-header {
    font-size: 1.5rem;
  }

  .popular-header {
    font-size: 1.5rem;
  }

  .track-row.artist-track-row > *:not(:first-child, :last-child) {
    margin-right: 0;
  }

  .artist-track-row .container-list-number {
    width: auto;
  }

  .artist-track-row:hover .list-number {
    visibility: visible;
    width: 3ch;
  }

  .artist-track-row .list-number {
    width: 3ch;
  }

  .artist-track-row .save-btn i {
    opacity: 1;
  }

  .track-row {
    padding: 0.75rem 1.5rem 0.75rem 1rem;
  }

  .album-controls {
    margin: 0.5rem 0 1.5rem 2.5rem;
  }

  .track-row img {
    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem;
  }

  .artist-hero {
    background: var(--artist-bg-mobile) center / cover no-repeat !important;
  }

  .album-track-row button.elipsis-btn i,
  .track-row.search-track-row button.elipsis-btn i,
  .album-track-row button.save-btn i,
  .track-row.search-track-row button.save-btn i,
  #popular-tracks-container .artist-track-row .elipsis-btn i,
  .track-row:hover .cover-img {
    opacity: 1;
  }

  .album-tracklist-col.number,
  .album-tracklist-col.plays,
  .album-tracklist-col.time,
  .container-list-number,
  .play-info,
  .album-tracklist-header,
  #best-track-container,
  .play-btn,
  .artist-hero-img,
  .artist-verified,
  .artist-followers,
  .album-type,
  a.album-cover-green-play-btn,
  .artist-hero-img,
  .artist-track-row .artist-wrap {
    display: none;
  }
}

@media (max-width: 480px) {
  .album-grid {
    grid-template-columns: 1fr;
    gap: 0rem;
  }

  #new-releases-container {
    padding: 0.5rem 1rem 0 1.5rem;
  }

  a.album-card {
    display: grid;
    grid-template-columns: 4.5rem 1fr;
    grid-template-areas:
      'image title'
      'image meta';
    column-gap: 0.75rem;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
  }

  .album-card-image-container {
    grid-area: image;
    width: 4.5rem;
    aspect-ratio: 1/1;
  }

  p.album-card-name {
    grid-area: title;
    margin: 0;
    font-weight: 600;
    font-size: 1rem;
    white-space: normal;
    align-self: end;
  }

  div.album-card-info {
    grid-area: meta;
    display: flex;
    gap: 0.25rem;
    font-size: 0.85rem;
    color: var(--muted-text);
    align-self: start;
  }

  main {
    padding-bottom: 4.5rem;
  }

  .title-container {
    padding: 1rem;
    margin: 0;
    gap: 1rem;
  }

  #search {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }

  .hero-inner {
    padding: 8rem 1.5rem 0.5rem 1.5rem;
  }

  .artist-hero {
    background: var(--artist-bg-mobile) center / cover no-repeat !important;
  }

  .artist-hero-info h1.artist-name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  button.show-less-more-btn {
    margin: 1em 2.3em;
  }

  .album-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.5rem 1.5rem 0;
  }

  .album-hero-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }

  .album-title {
    margin: 0;
  }

  .album-controls {
    margin: 2rem 0 1.5rem 1.5rem;
  }

  .album-tracklist-container {
    width: 100%;
    margin: 0 auto 1.5rem;
    padding: 0;
  }

  .track-row {
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  }

  .track-row.search-track-row {
    width: 100%;
    max-width: 100%;
  }

  .track-row.search-track-row img {
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
  }

  .track-info {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  .track-info > * {
    display: block;
    max-width: 100%;
  }

  .track-info .artist-wrap {
    min-width: 0;
    flex: 0 1 auto;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .track-info .artist-wrap a,
  .track-info .artist-wrap .comma {
    display: inline;
  }

  a.album-card.artist-album-card {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }

  .album-card.artist-album-card img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  a.album-play-btn,
  .green-play-btn,
  a.album-cover-green-play-btn {
    width: 3rem;
    height: 3rem;
    font-size: 1.25rem;
  }

  .album-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem 0.4rem;
    font-size: 0.9rem;
    line-height: 1.4;
    color: var(--muted-text);
  }

  .discography-header {
    font-size: 1.5rem;
  }

  .popular-header {
    font-size: 1.5rem;
    margin: 1.5rem 2rem 1rem 1.5rem;
  }

  #popular-tracks-container {
    width: 100%;
    padding: 0;
    margin: 0 auto 3rem 0;
  }

  .spotify-card > h2 {
    font-size: 1.5rem;
  }

  .artist-track-row {
    padding: 0.5rem 1.25rem 0.5rem 0.5rem;
  }

  .artist-track-row .container-list-number {
    width: auto;
    padding-right: 0.5rem;
  }

  .artist-track-row:hover .list-number {
    visibility: visible;
    width: 3ch;
  }

  .artist-track-row .list-number {
    width: 3ch;
  }

  .search-results {
    padding: 0;
  }

  .album-track-row {
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: minmax(0, 4fr) min-content min-content;
  }

  .track-row.album-track-row button.elipsis-btn,
  .track-row.album-track-row button.elipsis-btn:hover {
    padding: 0;
  }

  .track-row.search-track-row button.elipsis-btn,
  .track-row.search-track-row button.elipsis-btn:hover {
    padding: 0;
  }

  .sidebar {
    gap: 0.5rem;
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4.5rem;
    width: 100%;
    z-index: 1000;
    border-radius: 0;
    overflow-x: auto;
  }

  .sidebar .side-tab:first-child {
    margin-left: 0.5rem;
  }

  .sidebar .side-tab:last-child {
    margin-right: 0.5rem;
  }

  .side-tab {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .side-tab img {
    width: 3rem;
    height: 3rem;
  }

  .album-track-row button.elipsis-btn i,
  .track-row.search-track-row button.elipsis-btn i,
  .album-track-row button.save-btn i,
  .track-row.search-track-row button.save-btn i,
  #popular-tracks-container .artist-track-row .elipsis-btn i,
  .track-row:hover .cover-img {
    opacity: 1;
  }

  .album-tracklist-col.number,
  .album-tracklist-col.plays,
  .album-tracklist-col.time,
  .container-list-number,
  .play-info,
  .album-track-duration,
  .album-tracklist-header,
  .navigation-btns,
  #best-track-container,
  #tracks-header,
  #track-duration,
  .play-btn,
  .artist-hero-img,
  .artist-verified,
  .artist-track-row .save-btn,
  .artist-followers,
  .album-type,
  a.album-cover-green-play-btn,
  .artist-hero-img,
  .artist-track-row .artist-wrap {
    display: none;
  }
}

@media (min-width: 100rem) {
  .artist-hero {
    background-image: none !important;
  }

  .page-container {
    margin-inline: auto;
  }
}

html {
  font-size: clamp(0.875rem, 0.7rem + 0.5vw, 1.125rem);
}

h1.artist-name,
h1.album-title {
  font-size: clamp(2.75rem, 4vw + 1.5rem, 6rem);
}

h2,
.track-info h3 {
  font-size: clamp(1.1rem, 0.2vw + 1rem, 2rem);
}

.track-info p,
.album-meta,
.album-track-duration,
.artist-followers,
.track-row span,
.album-type {
  font-size: clamp(0.8rem, 0.14vw + 0.75rem, 1rem);
}

body,
main {
  padding-inline: var(--gutter);
}
