:root {
  --primary-green: #1db954;
  --hover-green: #1ed760;
  --light-bg: #333;
  --dark-bg: #151515;
  --very-dark-bg: #000000;
  --light-text: #ffffff;
  --muted-text: #b3b3b3;
}

body {
  background: var(--very-dark-bg);
  color: var(--light-text);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.spotify-card {
  box-sizing: border-box;
  border-radius: 1rem;
  background-color: var(--dark-bg);
  width: calc(100% - 2rem);
  height: 100vh;
  margin: 0 1rem 1rem 1rem;
}

.title-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 100%;
}

h2 {
  text-align: left;
}

#form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  flex: 1;
}

#search-title {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  position: relative;
  text-align: center;
  color: var(--primary-green);
}

#search {
  margin: 0 auto;
  display: block;
  max-width: 300px;
  width: 100%;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 9999px;
  background: var(--light-bg);
  color: var(--light-text);
  outline: none;
}

input::placeholder {
  color: var(--muted-text);
}

input:focus {
  background: var(--light-bg);
}

button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background: var(--primary-green);
  color: var(--light-text);
  cursor: pointer;
}

button:hover {
  background: var(--hover-green);
}

.elipsis-btn,
.elipsis-btn:hover {
  padding: 0 0.5rem 0 0;
  font-size: 1rem;
  background: transparent;
}

.save-btn,
.save-btn:hover {
  padding: 0 2rem 0 0;
  font-size: 1rem;
  background: transparent;
}

.play-icon,
.play-icon:hover {
  color: var(--light-text);
}

i {
  vertical-align: middle;
  color: var(--light-text);
}

.scalable:hover {
  scale: 1.05;
  color: var(--light-text);
}

.isFavorite {
  color: var(--hover-green);
}

.isFavorite:hover {
  color: var(--hover-green);
}

.save-btn i,
.elipsis-btn i,
.play-btn {
  opacity: 0;
}

.cover-img {
  opacity: 1;
}

.track-row:hover .save-btn i,
.track-row:hover .elipsis-btn i,
.track-row:hover .play-btn {
  opacity: 1;
}

.track-row:hover .cover-img {
  opacity: 0.5;
}

.track-row span.comma {
  display: inline-block;
  color: var(--muted-text);
  margin: 0 4px 0 0;
}

.track-row {
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 0.75rem;
  margin: 0;
  width: 700px;
}

.track-row:hover {
  background: var(--light-bg);
}

.track-row img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-right: 1rem;
}

.track-info {
  flex: 1;
}

.track-info h3 {
  margin: 0;
  font-size: 1.1rem;
}

.track-info p {
  margin: 0.2rem 0;
  font-size: 0.85rem;
  color: var(--muted-text);
}

.track-row span {
  margin-right: 1rem;
  font-size: 0.9rem;
  color: var(--muted-text);
  white-space: nowrap;
}

.track-row a {
  color: var(--muted-text);
  text-decoration: none;
  font-size: 1rem;
}

.track-row a:hover {
  color: var(--light-text);
  text-decoration: underline;
}

#tracks-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.artist-hero {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  width: 100%;
  background: linear-gradient(
      135deg,
      rgba(28, 28, 28, 0.8),
      rgba(18, 18, 18, 0.8)
    ),
    url('./media/default-cover.png');
  background-size: cover;
  background-position: center;
  margin: 0;
}

.hero-inner {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  padding: 4rem 3rem 2rem 2rem;
  width: 100%;
  box-sizing: border-box;
}

.artist-hero-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.artist-hero-info {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.artist-verified {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  line-height: normal;
}

.artist-verified i {
  color: #247ec7;
  font-size: 1.5em;
}

.artist-name {
  padding: 0;
  margin: 0;
  color: var(--light-text);
  font-size: 5rem;
  font-weight: 900;
}

.artist-followers {
  font-size: 1rem;
  color: var(--light-text);
  margin: 0.5rem 0 0 0;
}
